<div class="row">
  <div class="col-md-10 col-sm-10">
      <h3>Lista de Clientes</h3>
  </div>
  <div class="col-md-2 col-sm-2">
    <h3><%= link_to 'Novo', new_client_path,class: "btn btn-success pull-right" %></h3>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-sm-12">
      <table id="clients" class='table table-striped'>
        <thead>
          <tr>
            <th>Nome Fantasia</th>
            <th>CNPJ</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          <% @clients.each do |client| %>
          <tr>
            <td><%= link_to client.fantasy_name, client %></td>
            <td><%= client.cnpj %></td>
            <td><%= client.state %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
  </div>
</div>
