<div class="row">
  <div class="col-md-8">
    <% @clients.each do |client| %>
    <p><%= "#{client.fantasy_name} #{client.state}" %></p>
    <% end %>
    <% @tools.each do |tool| %>
    <p><%= tool.name %></p>
    <% end %>
    <% @contracts.each do |contract| %>
    <p><%= contract.deadline %></p>
    <%= link_to 'Ver mais', contract %>
    <% end %>
  </div>
</div>
