<div class="page-header">
    <h1>Grupos de Equipamentos</h1>
</div>
<div class="row">
  <div class="col-md-12 col-sm-12">
    <table class = 'table table-striped'>
      <thead>
        <tr>
          <th> Nome </th>
          <th> Descrição </th>
        </tr>
      </thead>
      <tbody>
        <% @toolsgroup.each do |group|%>
        <tr>
          <td><%= link_to group.name, group %></td>
          <td><%= link_to group.description, group %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'Novo', new_tools_group_path,class: "btn btn-success pull-right" %>
  </div>
</div>
